.login-container {
    .header {
        font-size: 14px;
        padding: 8px 24px;
    }

    .body {
        .title {
            font-size: 32px;
            font-weight: 500;
        }

        .welcome {
            padding: 8px 24px;
        }

        .content-form {
            .back-home {
                cursor: pointer;
            }
        }
    }
}